body {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}

.navbar {
  background-image: linear-gradient(
    to right,
    #ff8177,
    #ff867a,
    #ff8c7f,
    #f99185,
    #cf556c,
    #b12a5b
  );
}

.section {
  height: 100vh;
}
